// flasks colors
$flask-dark-red: #FF2525;
$flask-light-red: #ff7d3b;
$flask-dark-blue: #25b6bf;
$flask-light-blue: #0070a2;
$flask-dark-green: #2e561c;
$flask-light-green: #2AF598;

// app colors
$primary-blue: #21D4FD;
$primary-violet: #B721FF;
